extends layout

block base
    section(content)
        div
            div
                block content

    aside(side-bar)
        div
            div(messages)
                if message
                    h3 #{message.title}
                    p: code #{message.text}
                else
                    h3 Node Express API
                    p: code Bem-vindo!
        nav(nav-links)
            ul
                li(link-app="new") Novo Registro
                li(link-app="update") Atualizar Registro
                li(link-app="delete") Deletar Registro